export const config = {
    groupName: 'Funny Chat',
    mode: 'dev', //dev, prod
    firebase: {
        apiKey: "",
        authDomain: "",
        databaseURL: "",
        projectId: "",
        storageBucket: "",
        messagingSenderId: ""
    }
}